<div id="mafia-action">
    <div id="mafia-action-form-div">
        <form id="mafia-action-form" action="submit">
            <div class="form-group">
                <label for="id">ID Number:</label>
                <input type="text" class="form-question" />
                <label for="role">Role:</label>
                <select name="role-select" id="role-select">
                    <option id="regular-good-guy">Regular Good Guy</option>
                    <option id="mossad">Mossad</option>
                    <option id="morgana">Morgana</option>
                </select>
                <label for="submit">Submit:</label>
                <input type="submit" class="submit-button btn" value="Submit">
            </div>
        </form>
    </div>
</div>
