<div class="admin-page">
    <h2>Live Results for Day <%= @day %></h2>
    <h3>Night Actions</h3>
    <ul class="night-actions-list">
        <% @night_actions.each do |night_action| %>
            <li><%= night_action.to_s%></li>
        <% end %>
    </ul>
    <h3>Day Actions</h3>
    <ul class="day-actions-list">
        <% @day_actions.each do |day_action| %>
            <li><%= day_action.to_s%></li>
        <% end %>
    </ul>
    <h3>Current Votes</h3>
    <ul class="votes-list">
        <% @votes.each do |vote| %>
            <li><%= vote.to_s%></li>
        <% end %>
    </ul>
    <h3>Calculated Votes</h3>
    <% @counted_votes.each do |line| %>
        <%= line %><br />
    <% end %>
    <h3>Votes in CSV form - copy this into a plain text file, save it with a .csv extension, and import it into excel</h3>
    <ul class="votes-csv-list">
        <% @votes.each do |vote| %>
            <li><%= vote.to_csv%></li>
        <% end %>
    </ul>
</div>
