<div class="alpha-page">
    <form id="alpha-form" action="/userole" method="post">
        <div class="form-group">
            <label for="alpha-second-player-vote">What additional player would you like to vote for?</label>
            <select name="alpha-second-player-vote">
                <% @players.each do |player| %>
                    <option name="alpha-second-player-vote" id="alpha-second-player-vote" value="<%=player.id%>"><%=player.name%></option>
                <% end %>
            </select>
            <select name="alpha-second-group-vote">
                <% @groups.each do |group| %>
                    <option name="alpha-second-group-vote" id="alpha-second-group-vote" value="<%=group.id%>"><%=group.name%></option>
                <% end %>
            </select>
            <input type="submit" value="Submit" /> 
        </div>
    </form>
</div>
