<div class="anarchist-page">
    <form id="anarchist-form" action="/userole" method="post">
        <div class="form-group">
            <label for="anarchist-group-to-target">Which Agency would you like to choose?</label>
            <select name="anarchist-group-to-target">
                <% @groups.each do |group| %>
                    <option name="anarchist-group-to-target" id="anarchist-group-to-target" value="<%=group.id%>"><%=group.name%></option>
                <% end %>
            </select>
            <input type="submit" value="Submit" /> 
        </div>
    </form>
</div>
