<div class="assassin-page">
    <form id="assassin-form" action="/userole" method="post">
        <div class="form-group">
            <label for="assassin-player-to-kill">Who would you like to kill?</label>
            <select name="assassin-player-to-kill">
                <% @players.each do |player| %>
                    <option name="assassin-player-to-kill" id="assassin-player-to-kill" value="<%=player.id%>"><%=player.name%></option>
                <% end %>
            </select>
            <input type="submit" value="Submit" /> 
        </div>
    </form>
</div>
                
