<div class="assign-roles-div">
    <form class="assign-roles-form" action="/setuproles" method="post">
        <% @signups.each do |signup| %>
            <% name = "#{signup.first_name} #{signup.last_name}" %>
            <label for="<%= name %>"><%= name %></label>
            <select name="<%=name%>-role">
                <% @roles.each do |role| %>
                    <option name="<%=name%>-role" id="assign-roles-<%=role.name%>" value="<%=role.name%>"><%=role.name.capitalize%></option>
                <% end %>
            </select>
            <select name="<%= name %>-group">
                <% @groups.each do |group| %>
                    <option name="<%=name%>-group" id="assign-groups-<%=group.name%>" value="<%=group.name%>"><%=group.name.upcase%></option>
                <% end %>
            </select>
            <label for="mafia-<%=name%>">Mafia?</label>
            <input type="checkbox" name="<%=name%>-mafia" value="true">
            <br />
        <% end %>
        <input type="submit" value="Submit" />
    </form>
</div>
