<div class="babysitter-page">
    <form id="babysitter-form" action="/userole" method="post">
        <div class="form-group">
            <label for="babysitter-player-to-target">Who would you like to protect?</label>
            <select name="babysitter-player-to-target">
                <% @players.each do |player| %>
                    <option name="babysitter-player-to-target" id="babysitter-player-to-target" value="<%=player.id%>"><%=player.name%></option>
                <% end %>
            </select>
            <input type="submit" value="Submit" /> 
        </div>
    </form>
</div>
