<div class="bureaucrat-page">
    <form id="bureaucrat-form" action="/userole" method="post">
        <div class="form-group">
            <label for="bureaucrat-player-to-target">Who would you like to bumble?</label>
            <select name="bureaucrat-player-to-target">
                <% @players.each do |player| %>
                    <option name="bureaucrat-player-to-target" id="bureaucrat-player-to-target" value="<%=player.id%>"><%=player.name%></option>
                <% end %>
            </select>
            <input type="submit" value="Submit" /> 
        </div>
    </form>
</div>

