<div class="case-officer-page">
    <form id="case-officer-form" action="/userole" method="post">
        <div class="form-group">
            <label for="case-officer-player-to-target">Whose action would you like to cancel?</label>
            <select name="case-officer-player-to-target">
                <% @players.each do |player| %>
                    <option name="case-officer-player-to-target" id="case-officer-player-to-target" value="<%=player.id%>"><%=player.name%></option>
                <% end %>
            </select>
            <input type="submit" value="Submit" /> 
        </div>
    </form>
</div>

