<div class="courier-page">
    <form id="courier-form" action="/userole" method="post">
        <div class="form-group">
            <label for="courier-player-to-target-1">Select the player to learn information:</label>
            <select name="courier-player-to-target-1">
                <% @players.each do |player| %>
                    <option name="courier-player-to-target-1" id="courier-player-to-target-1" value="<%=player.id%>"><%=player.name%></option>
                <% end %>
            </select>
            <br />
            <label for="courier-player-to-target-2">Select the player whose information will be sent:</label>
            <select name="courier-player-to-target-2">
                <% @players.each do |player| %>
                    <option name="courier-player-to-target-2" id="courier-player-to-target-2" value="<%=player.id%>"><%=player.name%></option>
                <% end %>
            </select>
            
            <input type="submit" value="Submit" /> 
        </div>
    </form>
</div>
