<div name="dayvote">
    <div name="davote-form-div">
        <form class="dayvote-form" id="dayvote-form" action="submitdayvote" method="post">
            <div class="form-group">
                <label for="dayvote-id" class="form-question">ID:</label>
                <input type="text" form="dayvote-form" name="dayvote-id" id="dayvote-id" /><br />
                <label for="dayvote-family" class="form-question">Which agency would you like to report?</label>
                <select name="dayvote-family" id="dayvote-family" class="form-select form-control" >
                    <option name="dayvote-family" id="dayvote-family-none" value="">Choose an agency</option>
                    <% @groups.each do |group| %>
                        <option name="dayvote-family" id="dayvote-family-<%=group.name%>" class="form-option dayvote-form-option" value="<%=group.id%>"><%=group.name%></option>
                    <% end %>
                </select><br />
                <label for="dayvote-person" class="form-question">Which agent in your agency would you like to vote for?</label>
                <select name="dayvote-person" id="dayvote-person" class="form-select form-control">
                    <option name="dayvote-person" id="dayvote-person-none" value="">Choose an agent</option>
                    <% @players.sort{|a,b| a.name <=> b.name}.each do |person| %>
                        <option name="dayvote-person" id="dayvote-person-<%=person.name.downcase.gsub(" " , "-")%>" value="<%=person.id%>" ><%=person.name%></option>
                    <% end %>
                </select><br />
                <label for="dayvote-role" class="form-question">Choose a daytime role to use:</label>
                <select name="dayvote-role" id="dayvote-role" class="form-select form-control">
                    <option name="dayvote-role" id="dayvote-role-none" value="None" >None</option>
                    <% @day_roles.each do |role| %>
                        <option name="dayvote-role" id="dayvote-role-<%=role.name.split.join('-')%>" value="<%=role.name%>" ><%=role.name%></option>
                    <% end %>
                </select><br />
                <input type="submit" value="Submit" /><br />
            </div>
        </form>
    </div>
</div>
