<div class="decoder-page">
    <form id="decoder-form" action="/userole" method="post">
        <div class="form-group">
            <label for="decoder-player-to-target">Whose submission do you want to target?</label>
            <select name="decoder-player-to-target">
                <% @players.each do |player| %>
                    <option name="decoder-player-to-target" id="decoder-player-to-target" value="<%=player.id%>"><%=player.name%></option>
                <% end %>
            </select>
            <input type="submit" value="Submit" /> 
        </div>
    </form>
</div>
