<div class="error">
    <h3>There was a problem with your submission.  Please try again, and if the problem continues contact the mods.  If you are trying to vote for a person, please select their name from the dropdown.</h3>
</div>
