<div class="hacker-page">
    <form id="hacker-form" action="/userole" method="post">
        <div class="form-group">
            <label for="hacker-player-to-target">Whose role would you like to hack?</label>
            <select name="hacker-player-to-target">
                <% @players.each do |player| %>
                    <option name="hacker-player-to-target" id="hacker-player-to-target" value="<%=player.id%>"><%=player.name%></option>
                <% end %>
            </select>
            <input type="submit" value="Submit" /> 
        </div>
    </form>
</div>
