<div class="handler-page">
    <form id="handler-form" action="/userole" method="post">
        <div class="form-group">
            <label for="handler-player-to-target">Who would you like to save?</label>
            <select name="handler-player-to-target">
                <% @players.each do |player| %>
                    <option name="handler-player-to-target" id="handler-player-to-target" value="<%=player.id%>"><%=player.name%></option>
                <% end %>
            </select>
            <input type="submit" value="Submit" /> 
        </div>
    </form>
</div>
