<div class="hrrep-page">
    <form id="hrrep-form" action="/userole" method="post">
        <div class="form-group">
            <label for="hrrep-player-to-target">Who would you like to inquire about?</label>
            <select name="hrrep-player-to-target">
                <% @players.each do |player| %>
                    <option name="hrrep-player-to-target" id="hrrep-player-to-target" value="<%=player.id%>"><%=player.name%></option>
                <% end %>
            </select>
            <input type="submit" value="Submit" /> 
        </div>
    </form>
</div>
