<div class="basic-description">
    <p>Mafia is back for the summer of 2018. You may have played this game in your youth, but this version is cranked up to 11. With 50+ players and done over a week’s span this is the most wide-scale game you have ever played. And it takes place entirely online! A great way to meet people and use both social and strategic skills to earn the victory.</p>
    <p>This time we are introducing espionage!</p>
    <p>Here's a brief synopsis of the game:</p>
    <p>It's a game of cat and mouse between foreign intelligence agents and hidden Mossad Members.  Everyone who is playing is divided into a number of Intelligence agencies, with each agency having 1 hidden Mossad member. Every night, the Mossad discusses online which people to “compromise”, and they tell the Directors. Other people with nighttime roles may perform their actions as well. In the morning, you will receive an email with who is compromised from the previous night. Compromised players lose their roles and votes, but can still help their agency win the game.</p>
    <p>Then, during the day, everyone votes for a foreign agency and an internal operative, and the most voted agencies must compromise their most suspicious internal operative. After 5 days, the Mossad wins if at least half of them are still undercover. Otherwise, the agency with the most undercover agents wins.</p>
</div>
