<!DOCTYPE HTML>
<html>
    <head>
        <title>Mafia Espionage</title>
        <link rel="stylesheet" type="text/css" href="<%=url("/css/layout.css")%>" />
        <link rel="stylesheet" type="text/css" href="<%=url("/css/form.css")%>" />
        <link rel="stylesheet" type="text/css" href="<%=url("/css/roster.css")%>" />
        <link rel="stylesheet" type="text/css" href="<%=url("/css/rules.css")%>" />
    </head>
    <body>
        <header class="header">
            <div class="header-content">
                <img src="<%=url("/assets/mafiaheader.jpg")%>" class="header-image" />
                <div class="links">
                    <a href="/"><img class="link-button" src="<%=url("/assets/homebutton.jpg")%>" /></a>
                    <% if Time.now.getlocal("+03:00").hour >= 7 and Time.now.getlocal("+03:00").hour < 21 %>
                        <a href="<%=url("/dayvote")%>"><img class="link-button" src="<%= url("/assets/daybutton.jpg")%>" /></a>
                    <% else %>
                        <a href="<%=url("/nightvote")%>"><img class="link-button" src="<%= url("/assets/nightbutton.jpg")%>" /></a>
                    <% end %>
                    <a href="<%=url("/roster")%>"><img class="link-button" src="<%=url("/assets/rosterbutton.jpg")%>" /></a>
                    <a href="/rules"><img class="link-button" src="<%=url("/assets/rulesbutton.jpg")%>" /></a>
                </div>
            </div>
        </header>
        <div class="content">
            <%= yield %>
        </div>
        <div class="footer">
            Website built by <a href="https://sdubinsky.com">Scott Dubinsky</a>.  Design by Raya Lanin.
        </div>
    </body>
</html>
