<div class="login-page">
    <form id="login-form" action="/authenticate" method="post">
        <div class="form-group">
            <label for="login-username">Username: </label>
            <input type="text" id="username" name="username" required /><br />
            <label for="login-password">Password: </label>
            <input type="password" id="password" name="password" required /><br />
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>
