<div class="mossad-page">
    <form id="mossad-form" action="/userole" method="post">
        <div class="form-group">
            <label for="mossad-player-to-target">Who would you like to assassinate?</label>
            <select name="mossad-player-to-target">
                <% @players.each do |player| %>
                    <option name="mossad-player-to-target" id="mossad-player-to-target" value="<%=player.id%>"><%=player.name%></option>
                <% end %>
            </select>
            <input type="submit" value="Submit" /> 
        </div>
    </form>
</div>
