<div class="nightvote-contents">
    <div class="nightvote-form-div">
        <form class="signup-form form-inline" action="/submitnightvote" method="post" id="nightvote-form">
            <div class="form-group">
                <label for="nightvote-id" class="form-question">ID:</label>
                <input type="text" form="nightvote-form" name="nightvote-id" /><br />
                <label for="nightvote-role" class="form-question">Please select your role.</label>
                <select class="form-control" name="nightvote-role" id="nightvote-role">
                    <option id="nightvote-role" name="nightvote-role" class="form-option nightvote-form-option" id="nightvote-role-none" value="none" >None</option>
                    <% @roles.each do |role| %>
                        <% next if role.name == 'townsperson' %>
                        <option id="nightvote-role" name="nightvote-role" class="form-option nightvote-form-option" id="nightvote-role-<%=role.name%>" value="<%= role.name %>" ><%=role.name%></option>
                    <% end %>
                </select><br />
                <input type="submit" value="Submit" />
            </div>
        </form>
    </div>
</div>
