<div class="omega-page">
    <form id="omega-form" action="/userole" method="post">
        <div class="form-group">
            <label for="omega-second-player-vote">What additional player would you like to vote for?</label>
            <select name="omega-second-player-vote">
                <% @players.each do |player| %>
                    <option name="omega-second-player-vote" id="omega-second-player-vote" value="<%=player.id%>"><%=player.name%></option>
                <% end %>
            </select>
            <select name="omega-second-group-vote">
                <% @groups.each do |group| %>
                    <option name="omega-second-group-vote" id="omega-second-group-vote" value="<%=group.id%>"><%=group.name%></option>
                <% end %>
            </select>
            <input type="submit" value="Submit" /> 
        </div>
    </form>
</div>
