<div class="provocateur-page">
    <form id="provocateur-form" action="/userole" method="post">
        <div class="form-group">
            <label for="provocateur-player-to-target">Who would you like to set up?</label>
            <select name="provocateur-player-to-target">
                <% @players.each do |player| %>
                    <option name="provocateur-player-to-target" id="provocateur-player-to-target" value="<%=player.id%>"><%=player.name%></option>
                <% end %>
            </select>
            <input type="submit" value="Submit" /> 
        </div>
    </form>
</div>
