<div id="roster">
    <div class="roster">
        <% @groups.each do |group| %>
            <div class="roster-group">
                <h2><%=group.name.upcase %></h2>
                <% players = group.players %>
                    <% players.each do |player| %>
                        <%=player.name%><br />
                    <% end %>
                </ul>
            </div>
        <% end %>
    </div>
</div>
