<div class="rules"
    <h2>Table of Contents:</h2>
    <ol class="rules-toc-list">
        <li class="rules-toc-list-item list-item"><a href="#general-notes"> General Notes</a></li>
        <li class="rules-toc-list-item list-item"><a href="#setup">Setup</a></li>
        <li class="rules-toc-list-item list-item"><a href="#goal">Goal</a></li>
        <li class="rules-toc-list-item list-item"><a href="#daily-flow"> Flow of a Full Day</a></li>
        <li class="rules-toc-list-item list-item"><a href="#communication"> Communication</a></li>
        <li class="rules-toc-list-item list-item"><a href="#roles"> Roles</a></li>
        <li class="rules-toc-list-item list-item"><a href="#statuses"> Statuses</a></li>
        <li class="rules-toc-list-item list-item"><a href="#announcements"> Announcements</a></li>
        <li class="rules-toc-list-item list-item"><a href="#daytime"> Daytime</a></li>
    </ol>
    <h2 id="general-notes">General Notes</h2>
    <p>This set of rules is the official rules for the game. If you are unclear about anything relating to the game, this is the place to clarify it. The Directors are also available to help clarify any confusions. In the event of a discrepancy in the rules or an unaddressed occurrence, the Directors will use these rules as a guide for how to proceed. For any event in the game that is to be done randomly, a random number generator will be used to keep everything as unbiased as possible.</p>
    <h2 id="setup">Setup</h2>
    <p>Every Agency will consist of an equal number of agents depending on how many people sign up. Each Agency will have 1 hidden Mossad Member.</p>
    <p>When signing up, players can request to be placed in the same Agency as fellow players and the Directors will do their best to place everyone according to their wishes.</p>
    <p>You must register for either the Beginner or Standard role options. Beginners will only receive an allegiance (Foreign Agent or Mossad Member) and will not receive a role for performing daytime or nighttime actions. Players who signed up as Standard will receive an allegiance and may receive a role as well.</p>
    <h2 id="goal">Goal</h2>
    <p>The game takes place over the course of 5 nights and days (nights happen before the day).</p>
    <p>After Day 5, the game is over and a winner is declared based on the following criteria:<br />
        Mossad Members and foreign agents have different ways of winning the game. The Mossad wins if at least half of the Mossad Members are still undercover. If the Mossad loses, then (at least) one of the agencies wins. The Agency who’s own Mossad Member has been compromised and has the least amount of compromised agents, wins. This means that assassinated agents do not count against their agency’s win condition. In the event of a tie, all tying agencies win. Dead or compromised foreign agents are considered winners if they are part of a winning Agency. Compromised Mossad Members are considered winners if the Mossad wins. Exiled agents are never considered winners. Mossad Members are only considered winners if the Mossad wins, not if their Agency wins.</p>
    <h2 id="daily-flow">Flow Of A Full Day</h2>
    <p>Each 24-hour period starts at night, meaning the game will start with Night 1 and end after Day 5. Nighttime is 9pm-7am, and daytime is 8am-8pm. All times are in Israel time (GMT +2). The buffer periods are time for the Directors to go over what happened, update the game roster, and to notify everyone of what has happened. During nighttime, everyone with a nighttime role may perform an action. The Mossad Members will discuss whom they want to assassinate that night, and one of them will send in the Mossad’s decision to the Directors. The Mossad must attempt to assassinate the proper number of agents every night. In the morning, the Directors will notify everyone of certain events that happened the previous night (see Announcements section). During the daytime, everyone who is still undercover (not killed or compromised) must vote, and agents with a daytime role may perform their role’s ability. After daytime ends, the Directors will notify everyone of how the voting went and, as a result, which agencies were reported and which of those agents were compromised.</p>
    <p>Please note that the game will run through Shabbat to give you time to actually meet up and talk, if you so choose. There will be no actions or voting taking place during Shabbat. One day will be on Friday and end at 8pm, just like every other day. After Shabbat, the Directors will send out the results of that day and the following night will start Saturday night at 9pm, just like every other night. Gameplay will continue from there.</p>
    <h2 id="communication">Communication</h2>
    <p>Before the game starts, the Directors will give out allegiances, roles, and ID numbers as privately as possible. The purpose of the ID numbers is to allow the Directors to confirm all submissions are indeed from you and no one else. The Directors will do their best to eliminate any paper trail while giving out the allegiances, roles and ID numbers. The Directors will communicate during the course of the game via email. Any communication between you and the Directors will not be revealed by the Directors to anyone, whether that person is an agent or not. All actions are performed online using a form that is submitted to the Directors. The form will allow for submitting questions to the Directors, which will be answered as privately and quickly as possible. For any urgent questions, please contact the Directors directly. The Directors will try their best to not divulge excess or unnecessary information to anyone. They will also try to leave as small of an electronic trail as possible.</p>
    <p><b>Note</b>: The forms are meant as a direct line of communication between the Directors and the agents. Do not do anything that could possibly interfere with this line of communication.</p>
    <h3 id="allegiances">Allegiances</h3>
    <p><h4>Foreign Agent</h4> You are loyal to the Foreign Agency that you belong to. Work together with the other foreign agents in your Agency to oust the Mossad Member and prevent fellow loyal agents from being compromised.</p>
    <p><h4>Mossad Member (N)</h4> You are a double agent, secretly collaborating against the foreign agencies to rule the intelligence world. Every night the Mossad agents will work together on deciding which foreign agents to assassinate. The Mossad as a whole must attempt to assassinate foreign agents every night. The number of foreign agents the Mossad must attempt to assassinate is equal to the number of undercover agents divided by 20, rounded up (e.g. if there are 75 agents still undercover, the Mossad must choose 4 foreign agents to attempt to assassinate). Each assassination attempt must be carried out by a Mossad Member. In the event a target is a Diplomat or protected by a Babysitter, the Mossad Member attempting to assassinate that specific target will be affected accordingly. One Mossad Member cannot carry out two different assassinations in the same night.</p>
    <h2 id="roles">Roles</h2>
    <p>In addition to receiving an allegiance, players who signed up with the standard role option may receive a role as well. Each role comes with its own abilities. Using an ability is optional; there is no penalty for not using an ability. For roles that are passive (Diplomat, Analyst, and Decoder), the actions will occur regardless.</p>
    <p>Note that Mossad Members may have a role as well. However, not all roles are available to Mossad Members. Here is a list of possible roles Mossad Members may have:</p>
    <ul class="mafia-roles-list">
        <li class="mafia-roles-list-item">Shadchan</li>
        <li class="mafia-roles-list-item">Case Officer</li>
        <li class="mafia-roles-list-item">Babysitter</li>
        <li class="mafia-roles-list-item">Bumbling Bureaucrat</li>
        <li class="mafia-roles-list-item">alpha</li>
        <li class="mafia-roles-list-item">Omega</li>
        <li class="mafia-roles-list-item">Handler</li>
        <li class="mafia-roles-list-item">UN Liaison </li>
        <li class="mafia-roles-list-item">Bagman</li>
    </ul>
    <p>If you attempt to use an ability at the wrong time (e.g. using a nighttime role during the day), the action will not take place, and will not count against you, if it has a limited number of uses.  Below is a description of every role and whether they are Nighttime roles (N) or Daytime roles (D).
    </p>
    <h3 id="hr-rep">HR Rep (N)</h3>
    <p>You may choose one other undercover agent every night and inquire about their allegiance. You are told the following morning whether the agent you inquired about is in the Mossad or not. You may only inquire about agents undercover. If you inquire about an agent who dies that same night, you will not receive an email regarding your inquiry. Diplomats and Alphas will appear to be in the Mossad.</p>
    <h4 id="naive-hr-rep">Sub-role: Naive HR Rep (N)</h4>
    <p>One of the HR Reps in the game will unknowingly be the Naïve HR Rep. You are always told that the agent you inquired about is a foreign agent and not part of the Mossad, regardless of that agent’s actual allegiance.</p>
    <h3 id="shadchan">Shadchan (N)</h3>
    <p>You may choose two undercover agents to fall in love with each other. As a result, if one of those agents dies or is compromised, the other agent receives the same fate. You may only perform this action once per game.</p>
    <h3 id="diplomat">Diplomat (N/D)</h3>
    <p>This is a passive role, and therefore happens regardless of whether you want it to happen or not. If the Mossad assassinates you, the Mossad Member who carried out the kill is immediately compromised. If compromised by vote, you compromise whomever you voted for.</p>
    <h3 id="hacker">Hacker (N)</h3>
    <p>You may choose an undercover agent and hack into the database and profile of an agent to steal that agent’s role for the remainder of the game. Any limits on that role are reset once you have acquired the new role. The agent who originally had the role loses it. If you try stealing the role of someone who does not have one, the stealing attempt fails and you lose your role. You may only perform this action once during the game.<br />
        Note: This role does not affect allegiances.</p>
    <h3 id="provocateur">Provocateur (N)</h3>
    <p>You set up an agent to be exposed the following night. An agent who is set up remains undercover until the following night. After the following night, the set up agent is compromised unless saved by a Handler. You cannot be set up yourself and are protected from the first  assassination attempt by the Mossad. You may only perform this action twice during the game.</p>
    <h3 id="case-officer">Case Officer (N/D)</h3>
    <p>You may choose another agent and cancel that agent’s action. This can be used once per day, either to cancel a nighttime action or to cancel a daytime action, but never both for the same day. You cannot prevent Mossad assassinations.</p>
    <h3 id="anarchist">Anarchist (N)</h3>
    <p>You may choose an Agency and randomly compromise an agent from that Agency. You only get to choose which Agency you are targeting; the Directors randomly select an undercover agent from that Agency to be compromised. In the event you choose your own Agency, it is possible for you to compromise yourself. You can only use this ability once in the game. You do not have to choose an Agency with an undercover agent.</p>
    <h3 id="babysitter">Babysitter (N)</h3>
    <p>You may choose one agent a night to protect from certain harms. These harms include being assassinated by the Mossad, being set up, and being compromised by the Anarchist. In the event the protected agent is harmed in one of these ways, the attacker must lay low (see Statuses) and the protected agent remains unharmed. You automatically protect yourself from the Mossad, being set up, or an Anarchist exposure once during the game. You may only choose to protect yourself once during the game (this is in addition to the automatic protection you already get). You are neither told about successful uses nor are you told when you are automatically saved.</p>
    <h3 id="bumbling-bureaucrat">Bumbling Bureaucrat (N)</h3>
    <p>You may choose an agent and redirect that agent’s next action randomly. You do not get to decide where any actions are redirected; you only choose which agent loses the ability to choose their target. You can only perform this action twice during the game. You cannot affect votes or Mossad assassinations.</p>
    <h3 id="alpha">Alpha (D)</h3>
    <p>You get an additional Agency vote and an additional individual agent vote. These extra votes are not bound by the normal voting rules.</p>
    <h3 id="omega">Omega (D)</h3>
    <p>You get a negative Agency vote and a negative individual agent vote. Like the alpha, these negative votes are not bound by the normal voting rules.</p>
    <h3 id="handler">Handler (N)</h3>
    <p>You may choose one agent per night to save from Mossad assassinations and being set up by a Provocateur. You can also save someone who has been set up the night after being set up. You may only protect yourself twice during the game.</p>
    <h3 id="un-liaison">UN Liaison (D)</h3>
    <p>You may grant international immunity to an Agency and therefore remove them from voting for that day. This means that any votes cast against that agency and any votes cast by that agency’s members are not counted. You may only perform this action twice during the game. You may only protect your own Agency once. You may use this action on an Agency with no undercover agents.</p>
    <h3 id="courier">Courier (N)</h3>
    <p>You choose two undercover agents, one of whom will be delivered the allegiance and role of the other. You decide who learns the information of whom. However, you can never choose yourself for either position. You can only perform your action twice during the game.</p>
    <h3 id="analyst">Analyst (N/D)</h3>
    <p>You are told the allegiance and roles of agents once they become inactive (killed or compromised). This occurs regardless and any votes cast by that agency’s members of whether you want to learn this information or not.</p>
    <h3 id="decoder">Decoder (D)</h3>
    <p>You are told 25% (rounded down) of the total agents’ specific votes after voting has taken place. You may choose one agent to be included in the 25% each day. This information is given to you, regardless of whether or not you want it. Each Decoder will have their 25% chosen independently.</p>
    <h3 id="bagman">Bagman (D)</h3>
    <p>You may choose one agent each day to save from being compromised by the votes. If the agent you choose would have been compromised from votes that day, the agent with the second-most votes from that Agency is compromised instead. If the protected agent is the only undercover agent in his Agency, no one dies from that Agency. You may only choose yourself once during the game.</p>
    <h2 id="statuses">Statuses</h2>
    <h3 id="undercover">Undercover</h3>
    <p>You have not been killed or compromised. You are allowed to use your ability (provided you have not reached any limits the role dictates) and vote. Undercover Mossad Members are counted towards helping the Mossad win the game, and agencies still with an undercover Mossad Agent cannot win the game.</p>
    <h3 id="compromised">Compromised</h3>
    <p>Your cover has been blown! You have been voted out by your Agency, or exposed by the media. Compromised agents do not count towards their agency’s numbers and therefore hurt their chances of winning the game.</p>
    <h3 id="dead">Dead</h3>
    <p>You were assassinated by the Mossad during the game. Dead agents are still counted towards their agency’s numbers and do not affect the win condition.</p>
    <p>Agents who are compromised or dead may not vote or perform any actions. Similarly, you cannot be targeted by any actions. You can still win the game. If you are in the Mossad and the Mossad wins, you are considered a winner. If you are not in the Mossad and are in the winning Agency, you are considered a winner. <b>For this reason, you are encouraged to continue participating in the game.</b></p>
    <h3 id="set-up">Set-Up</h3>
    <p>You are still considered undercover (see above) but must find a Handler within 24 hours of getting set up in order to stay undercover. To be saved from the set up, a Handler must use their action on you.</p>
    <h3 id="exiled">Exiled</h3>
    <p>You have improperly voted or did not vote twice during the game. <b>You cannot win the game under any circumstances</b>. In terms of number of agents undercover for the Mossad or for an Agency, you are considered dead. If you were in the Mossad and the Mossad wins, you are not considered a winner. If you were a foreign agent and your Agency wins, you are not considered a winner.</p>
    <h3 id="laying-low">Laying Low</h3>
    <p>You are in fear of being exposed and therefore cannot vote or perform any actions for the following day and night.</p>
    <h2 id="nighttime">Nighttime</h2>
    <p>During the night (9pm-7am), every agent with a nighttime role may perform their action. Mossad Members will discuss privately whom they wish to assassinate. A Mossad Member chosen by the Directors will submit their decision to the Directors, along with which Mossad Members are attempting to assassinate which targets. If two agents with the same role attempt to do an action the same night, whoever submitted their action first will have their action happen first. In terms of agents with different roles, the nighttime actions occur in this exact order:</p>
    <ol>
        <li>Bumbling Bureaucrats may choose one agent to randomly redirect that agent’s next action.</li>
        <li>Case Officers may choose one agent to cancel that agent’s action.</li>
        <li>Hackers may choose an agent and steal that agent’s role.</li>
        <li>Shadchanim may choose two agents to fall in love with each other.</li>
        <li>Handlers may choose one agent to save from certain harmful actions.</li>
        <li>Babysitters may choose one agent to protect from certain harmful actions.</li>
        <li>Provocateurs may choose an agent to set up.</li>
        <li>Anarchists may choose one Agency to randomly compromise.</li>
        <li>The Mossad must attempt to assassinate foreign agents.</li>
        <li>HR Reps may choose someone to inquire about.</li>
        <li>Previously set up agents are now compromised.</li>
    </ol>
    <h3 id="announcements">Announcements</h3>
    <p>The only events that are announced publicly are assassinations, compromises, set up, and being saved from the set up. The results of the voting are announced, but only how many votes every agent and Agency received. Individuals’ specific votes are not revealed publicly. If a Shadchan pairs two agents together, only the pair is told about their new partner. If you steal a role as a hacker, you are told about your new role and the victim is told that they have lost their role. In the event your attempt fails (e.g. you tried stealing from an agent without a role), you are told your attempt fails, and the target is not told about the attempt. If you have been targeted by a Case Officer, you are told the following morning that any nighttime action you may have attempted did not happen because of a Case Officer. This happens whether or not you actually attempted to do anything the previous night. If you are laying low, you are told so the following morning, but the Babysitter is not told about anyone. If you are affected by a Bumbling Bureaucrat you are told about your new target after the action has been performed. Only undercover agents can receive any emails that are not the public ones.</p>
    <h2 id="daytime">Daytime</h2>
    <p>During the daytime (8am-8pm), all undercover agents must cast two different votes: an Agency vote and an individual agent vote. Agency votes must be cast for another Agency, even if that Agency has no undercover agents. Individual votes must be cast for another undercover agent in the voter’s own Agency. If you are the only undercover member of your Agency, you do not need to cast an individual vote, since you have no one to vote for (this does not count as an improper vote). If you do not adhere to these voting rules, you are considered to have improperly voted. If you improperly vote twice, you are exiled from the game and cannot win. The three (this number is subject to change) agencies with the most votes are all reported. The agent within each of these agencies with the most votes is compromised. In the event of a tie in the Agency vote, all tied agencies are reported. In the event of a tie in the individual vote of an Agency that was reported, all tied agents are compromised. In the event one of the agencies that is reported has no undercover agents, it is still counted as one of the three agencies reported, but no one is compromised from that Agency.</p>
    <p>The following daytime events occur in this exact order:
        <ol>
            <li>Case Officers may choose one agent to cancel that agent’s action.</li>
            <li>UN Liaisons may jail one Agency.</li>
            <li>Alphas may cast extra votes.</li>
            <li>Omegas may cast negative votes.</li>
            <li>Undercover agents must vote.</li>
            <li>Bagmen may save an agent.</li>
            <li>Reported agencies compromise their most voted agents.</li>
        </ol>
    </p>
</div>
