<div class="shadchan-page">
    <form id="shadchan-form" action="/userole" method="post">
        <div class="form-group">
            <label for="shadchan-player-to-target-1">Select the first person:</label>
            <select name="shadchan-player-to-target-1">
                <% @players.each do |player| %>
                    <option name="shadchan-player-to-target-1" id="shadchan-player-to-target-1" value="<%=player.id%>"><%=player.name%></option>
                <% end %>
            </select>
            <br />
            <label for="shadchan-player-to-target-2">Select the second person:</label>
            <select name="shadchan-player-to-target-2">
                <% @players.each do |player| %>
                    <option name="shadchan-player-to-target-2" id="shadchan-player-to-target-2" value="<%=player.id%>"><%=player.name%></option>
                <% end %>
            </select>
            
            <input type="submit" value="Submit" /> 
        </div>
    </form>
</div>
