<div name="signup">
    <div name="signup-form-div">
        <form class="signup-form form-inline" id="signup-form" action="submitsignup" method="post">
            <div class="form-group">
                <label for="signup-name" class="form-question">First name:</label>
                <input type="text" form="signup-form" name="signup-first-name" /><br />
                <label for="signup-name" class="form-question">Last name:</label>
                <input type="text" form="signup-form" name="signup-last-name" /><br />
                <label for="signup-email" class="form-question">Email:</label>
                <input type="text" form="signup-form" name="signup-email" /><br />
                <label for="signup-special-role" class="form-question">What level are you signing up at?</label>
                <select class="form-control" name="signup-special-role">
                    <option name="signup-special-role" id="signup-role-yes" value="yes">Beginner(no special role)</option>
                    <option name="signup-special-role" id="signup-role-no" value="no">Standard(option for a special role)</option>
                    <option name="signup-special-role" id="signup-role-spectator" value="spectator">Spectator</option>
                </select><br />
                <label for="signup-teammates" class="form-question">Who would you like to sign up with?</label>
                <input type="text" form="signup-form" name="teammates" /><br />
                <div class="submit-button">
                    <input type="submit" value="Submit" class="btn" />
                </div>
            </div>
        </form>
    </div>
</div>
