<div class="unliaison-page">
    <form id="unliaison-form" action="/userole" method="post">
        <div class="form-group">
            <label for="unliaison-group-to-target">Who would you like to grant immunity to?</label>
            <select name="unliaison-group-to-target">
                <% @groups.each do |group| %>
                    <option name="unliaison-group-to-target" id="unliaison-group-to-target" value="<%=group.id%>"><%=group.name%></option>
                <% end %>
            </select>
            <input type="submit" value="Submit" /> 
        </div>
    </form>
</div>
