@font-face {
    font-family: "Traveling Typewriter";
    src: url(/assets/travelingtypewriter.ttf) format('ttf');
}
header {
    height: 200px;
    margin: 0.1em;
}
.header-content {
    text-align: center;
    height: 85%;
}

.header-image {
    width: 60%;
    height: inherit;
}

.links {
    display: flex;
    justify-content: center;
}

.links a {
}

.link-button {
}

body {
    background: #0d0c0c;
    color: #636d6d;
    font-family: "Traveling Typewriter", monospace;
}

.content {
    clear: both;
    margin-left: 20%;
    margin-right: 20%;
}

a {
    text-decoration: underline;
}

a:-webkit-any-link {
    color: #636d6d;
}

.footer {
    text-align: center;
    font-family: "Traveling Typewriter";
    padding: 1em;
}
